body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body {
  background-color: #2C2C40 !important;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, white 1px, rgba(0, 0, 0, 0) 1px);
}

* {
  font-family: 'Nunito Sans', sans-serif;
}
/* optional Container STYLES */
.chart { height: 100%; margin: 5px; width: 100%; overflow: visible;}

.Treant > .node {
  padding: 3px;
  border: white;
  border-radius: 3px;
  min-width: 200px;
  background: #53599A;
  border: 1px solid #53599A;
  color: white;
  border-radius: 8px;
  transition: 1s;
  font-size: 14pt;
}

.Treant > .node img { width: 100%; height: 100%; }

.Treant .collapse-switch { width: 0%; height: 0%; border: none; }

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

button {
    float: right;
}

.sidebar {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #53599A;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 1px solid #818181;
    margin-top: 60px;
    border-radius: 30px;
    margin-left: 15px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke !important;
    display: block;
    transition: 0.3s;
  }

  ul {
      padding: 8px 8px 8px 32px;
      list-style-type: none;
      display: none;
      margin-bottom: 20px !important;
  }

  li {
      color: #adadad;
      cursor: pointer;
      transition: 0.3s;
  }

  li:hover {
    color: rgb(231, 76, 107) !important;
    transition: .5s;
    font-weight: bold;
  }
  
  .sidebar a:hover {
    color: #f1f1f1 !important;
    background-color: #C60C30;
    font-size: 27px;
    box-shadow: 0px 2px 2px lightslategrey;
    padding: 9px 9px 9px 32px;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    display: none;
    font-size: 15px;
    cursor: pointer;
    background-color: #9da3eb;
    color: #53599A;
    padding: 5px 12px;
    border: 1px solid #53599A;
    border-radius: 5px;
    font-weight: bold;
    transition: 1s;
  }
  
  .openbtn:hover {
    background-color: #c2c7f8;
    transition: 1s;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .task {
      font-weight: bold;
      font-size: 12pt;
      margin-left: 5px;
      margin-top: 5px;
      display: inline-block;
  }

  .sidebar-title {
    color: #818181;
    margin-left: 32px;
    font-size: 20pt;
    transition: 0.3s;
  }

  .sub {
    font-size: 14pt !important;
  }

  .sub::hover {
    color: white !important;
  }

  .input {
    cursor:  default !important;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
  }

  .sidebar-button {
    color: black;
    float: left !important;
  }

  .selected {
    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @keyframes animation {
    0% { box-shadow: 5px 5px 8px #FDBE43, -5px -5px 8px #fcdc9a, -5px 5px 8px #FF7500, 5px -3px 8px #fa9037; }
    25% { box-shadow: 5px 5px 8px #fa9037, -5px -5px 8px #FF7500, -5px 5px 8px #FDBE43, 5px -3px 8px #fcdc9a }
    50% { box-shadow: 5px 5px 8px #fcdc9a, -5px -5px 8px #FDBE43, -5px 5px 8px #fa9037, 5px -3px 8px #FF7500 }
    75% { box-shadow: 5px 5px 8px #FF7500, -5px -5px 8px #fa9037, -5px 5px 8px #fcdc9a, 5px -3px 8px #FDBE43 }
    100% { box-shadow: 5px 5px 8px #FDBE43, -5px -5px 8px #fcdc9a, -5px 5px 8px #FF7500, 5px -3px 8px #fa9037 }
  }

  .submit {
    background: #007bff;
    border: 2px solid #007bff;
    border-radius: 10px;
    color: whitesmoke;
    font-style: bold;
    margin-right: 5px;
    font-size: 14pt;
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 15px;
    width: 80%;
    float: left;
    transition: 0.5s;
    box-shadow: 3px 3px 5px #818181;
  }

  .submit-2 {
    background: #007bff;
    border: 2px solid #007bff;
    border-radius: 10px;
    color: whitesmoke;
    font-style: bold;
    margin-right: 5px;
    font-size: 14pt;
    transition: 0.5s;
    float: right;
    font-family: 'Righteous', cursive !important;
  }

  .submit-2:hover {
    background: #C60C30;
    border: 2px solid #C60C30;
  }

  .submit:hover {
    background: #ff9d0a;
    border: 2px solid #ff9d0a;
    color: #454545;
  }

  .title {
    color: whitesmoke;
    font-size: 20pt;
    margin-left: 10px;
    display: inline-block;
    font-family: 'Righteous', cursive !important;
  }

  .header {
    height: 40px;
    font-weight: bolc;
    font-style: italic;
    background: #1f32a8;
    padding-top: 2px;
    border-bottom: 0.5px solid whitesmoke;
  }

  .header-right {
    float: right;
  }

  .order-name {
    display: block;
    color: lightgray;
    margin-right: 25px;
    margin-top: 7px;
    float: left;
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed !important;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  margin: auto;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #fa9037;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #0092D0;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

.showcase {
  position: relative;
  border: 1px solid #53599A !important;
  background-color: #53599A !important;
  transition: 1s;
}

.showcase button {
  transition: 1s;
}

.showcase button:hover {
  transition: 1s;
}

.connection {
  position: relative;
  border: 1px solid #272e75 !important;
  background-color: #272e75 !important;
  transition: 1s;
}

.connection button {
  background-color: #636abd !important;
  border: 1px solid #272e75 !important;
  color: #272e75 !important;
  transition: 1s;
}

.connection button:hover {
  background-color: #001944 !important;
  border: 1px solid #001944 !important;
  transition: 1s;
}

.greyed-out {
  background-color: #2C2C40 !important;
  transition: 1s;
  border: 1px solid #53599A !important;
  color: #53599A !important;
}

.greyed-out button {
  background-color: #2C2C40 !important;
  color: #53599A !important;
  border: 1px solid #53599A !important;
}

.dep-modal {
  display: none;
  position: fixed;
  padding-top: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.5);
}

.dep-modal-content {
  position: relative;
  background-color: #001944;
  border-left: 0.5px solid #818181;
  color: whitesmoke;
  padding: 20px;
  margin-right: 0;
  margin-left: auto;
  height: 100%;
  width: 40%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-size: 14pt;
}

.dep-modal-header {
  font-size: 16pt;
  font-weight: bold;
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 25px;
}

.dep-info {
  margin-top: 35px;
  font-size: 14pt;
}

.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.dropbtn {
  background-color: #007bff;
  border-radius: 5px;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 35px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #56a7fd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 230px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 89px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.child {
  position: relative;
  border: 1px solid #b1b5db !important;
  background-color: #b1b5db !important;
  color: #2C2C40 !important;
  transition: 1s;
}

.child button {
  background-color: #f4f5ff !important;
  border: 1px solid #b1b5db !important;
  color: #b1b5db !important;
  transition: 1s;
}

.child button:hover {
  background-color: #2b78ff !important;
  border: 1px solid #4470ff !important;
  transition: 1s;
}

.delete-conn {
  color: whitesmoke;
  font-size: 20pt;
  font-weight: bold;
  margin-left: 10%;
}

.delete-conn:hover {
  color: #ff2d55
}

.task-sla {
  font-size: 8pt;
  margin-left: 5px;
  margin-top: 2px;
}

.task-role {
  font-size: 8pt;
  margin-left: 5px;
  margin-top: 2px;
}

.task-info {
  width: 60%;
  display: inline-block;
  margin-top: 5%;
}

.button-group {
  display: inline-block;
  margin-top: 5%;
  float: right;
}

.material-icons-outlined {
  margin-top: 3px;
  margin-right: 6px;
  float: right;
  color: rgb(117, 184, 255);
  transition: 1s
}

.material-icons-outlined:hover {
  color: rgb(201, 226, 253);
  transition: 1s
}

.connection > .material-icons-outlined {
  color: #556d96;
}

.child > .material-icons-outlined {
  color: #98bbf8;
}

.sla-modal {
  display: none;
  position: fixed;
  padding-top: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.5);
}

.sla-modal-content {
  position: relative;
  background-color: whitesmoke;
  border-left: 0.5px solid #818181;
  color: black;
  padding: 20px;
  margin: auto;
  margin-top: 10%;
  height: 30%;
  width: 50%;
  border-radius: 15px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-size: 14pt;
}

.sla-modal-footer {
  height: 30%;
}

.sla-modal-header {
  font-size: 16pt;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 25px;
}

.sla-info {
  margin-top: 35px;
  font-size: 14pt;
}

.sla-tent, .role-tent, .name-tent {
  margin-left: 20%;
  margin-top: 15px;
}

.update-btn {
  margin-top: 3%;
  background-color: whitesmoke;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 10px;
  height: 35px
}

.opening-modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.5);
}

.opening-modal-content {
  position: relative;
  background-color: whitesmoke;
  border-left: 0.5px solid #818181;
  color: white;
  padding: 20px;
  margin: auto;
  height: 100% !important;
  width: 100%;
  /*background-image: linear-gradient(45deg, #AAD7FF,#BDA3FF, #6AE2D4, #EDA8D0, #60B8F2);*/
  background: -webkit-linear-gradient(110deg, #001944 60%, #1f32a8 60%);
  background: -o-linear-gradient(110deg, #001944 60%, #1f32a8 60%);
  background: -moz-linear-gradient(110deg, #001944 60%, #1f32a8 60%);
  background: linear-gradient(110deg, #001944 60%, #1f32a8 60%);
  /*background-image: linear-gradient(to right, #001944, #1f32a8, #C60C30);*/
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-size: 14pt;
}

.opening-modal-footer {
  height: 30%;
}

.opening-modal-header {
  font-size: 20pt;
  font-weight: bold;
  padding-bottom: 25px;
  font-style: italic;
  font-family: 'Righteous', cursive !important;
}

.new-order {
  display: inline-block;
  text-align: center;
  width: 300px;
  line-height: 90px;
  height: 100px;
  border: 2px solid white;
  border-radius: 15px;
  margin-right: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 2s;
}

.choose-existing {
  display: inline-block;
  text-align: center;
  width: 300px;
  line-height: 90px;
  height: 100px;
  border: 2px solid white;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 2s;
}

.new-order:hover, .choose-existing:hover {
  background-color: white;
  color: #043385;
  transition: 2s;
}

.options {
  height: 100%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 200px;
}

.new-order-btn {
  background: transparent;
  color: white;
  margin: auto;
  border: 2px solid white;
  border-radius: 15px;
}

.material-icons-round.ff {
  margin-right: 10px;
  cursor: pointer;
}

.dark-body {
  background: black !important;
}

.material-icons-round.play {
  color: whitesmoke;
  margin-right: 25px;
  margin-top: 4px;
  cursor: pointer;
  vertical-align: top;
  margin-top: 5px;
  transition: .5s;
}

.material-icons-round.play:hover {
  color: #C60C30;
  transform: scale(1.2);
  transition: .5s;
}

.material-icons-round.save {
  color: whitesmoke;
  margin-right: 15px;
  cursor: pointer;
  transition: .5s;
}

.material-icons-round.save:hover {
  color: #C60C30;
  transform: scale(1.2);
  transition: .5s;
}

.fade-in {
  /*animation-name: fade;
  animation-duration: 3s;*/
  visibility: visible !important;
  opacity: 1 !important;
  transition: visibility 0.5s, opacity 3s linear;
}

#order-branch {
  display: inline-block;
}

.branch-list {
  display: none;
  position: absolute;
  overflow: auto;
  margin-top: 37px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid #454545;
  z-index: 1;
  width: 320px;
}

.branch-list a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  width: 100%;
}

.branch-list a:hover {
  background-color: #007bff;
  color: white;
}

.back-button {
  display: block;
  float: left;
  color: white;
  background-color: black;
  border: 1px solid white;
  margin-left: 20px;
  margin-top: 20px;
  padding-top: 4px;
  border-radius: 10px;
  display: none;
}

.back-button:hover {
  background-color: white;
  color: black;
}

#back-arrow {
  margin-left: 6px;
}


/*@keyframes fade {
  0% { opacity: 0%; }
  20% { opacity: 20%; }
  40% { opacity: 40%; }
  60% { opacity: 60%; }
  80% { opacity: 80%; }
  100% { opacity: 100%; }
}*/
